:root {
    --header-color: #EAEAEA;
    --footer-color: #F2EEEB;
    --notification-color: #A6D7F9;
    --dark-gray: #B1B1B1;
    --dark-text: #5B7384;
    --gutter: 15px;
}

/* RESET */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ul, ol, menu {
    list-style-type: none;
  }

  img {
    max-width: 100%;
  }

  a, button {
    text-decoration: none;
    color: currentColor;
  }

/* STYLE */

  html {
    font-family: "Lato", sans-serif;
  }

  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

/* LAYOUT */

  #app {
    height: 100vh;
  }

  .container {
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 992px) {
    .col-lg-12 {
      width: 100%;
    }
  }

/* UTILITIES */

  .flex {
    display: flex;
  }

  .grow-1 {
    flex-grow: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .column {
    flex-direction: column;
  }

  .justify-between {
    justify-content: space-between;
  }

  .align-center {
    align-items: center;
  }

  .overflow-scroll {
    overflow: scroll;
  }

/* COMPONENTS */

.contact-avatar-pic {
  width: 50px;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: 50%;
  display: block;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .debug {
    color: red;
  }
}

@media (min-width: 992px) {
  .debug {
    color: blue;
  }
}

/* DEBUG */

  .debug .app-container {
    background-color: rgba(0, 0, 0, 0.1)
  }

  .debug .app-row {
    background-color: #EAEAEA;
  }

  .debug .app-sidebar {
    background-color: white;
  }

  .debug .app-content {
    background-color: #DAD5CE;
  }

/* APP */

  @media (min-width: 992px) {
    #app {
      padding: 30px 0;
    }
  }

  #app {
    background: linear-gradient(
      to bottom, #4D9288 0%, #4D9288 15%, #DBDBD3 15%, #DBDBD3 100%
    )
  }

/* APP CONTAINER */

  .app-container {
    height: 100%;
  }

  @media (min-width: 992px) {
    .app-container {
      width: 80%;
    }
  }

/* APP ROW */

.app-row {
  height: 100%;
  width: 100%;
}

/* APP SIDEBAR */

  .app-sidebar {
    width: 80px;
    display: none;
    border-right: 1px solid #D6D6D6;
  }

  .app-sidebar > * {
    padding: 0 var(--gutter);
  }

  @media (min-width: 768px) {
    .app-sidebar {
      display: flex;
    }
  }

  @media (min-width: 992px) {
    .app-sidebar {
      width: 380px;
    }
  }

    /* SIDEBAR HEADER */

    .sidebar-header {
      height: 70px;
      background-color: var(--header-color);
    }

      .sidebar-header-list {
        display: none;
        gap: var(--gutter);
        color: var(--dark-gray);
      }

      @media (min-width: 992px) {
        .sidebar-header-list {
          display: flex;
        }
      }

      .sidebar-header-list > * {
        color: var(--dark-gray);
      }

    /* SIDEBAR NOTIFICATION */

    .sidebar-notification {
      display: none;
      height: 80px;
      background-color: var(--notification-color);
    }

    @media (min-width: 992px) {
      .sidebar-notification {
        display: flex;
      }
    }

    .notification-icon {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      background-color: white;
      color: var(--notification-color);
      font-size: 20px;
      display: block;
    }

    .notification-text {
      padding: 0 var(--gutter);
    }

    .notification-text strong {
      color: black;
    }

    .notification-text p {
      text-decoration: underline;
      color: var(--dark-text);
      font-size: 14px;
    }

    /* SIDEBAR SEARCHBAR */

    .sidebar-searchbar {
      display: none;
      height: 50px;
      padding: 0;
      margin: 7px;
      border: 1px solid var(--dark-gray);
      color: var(--dark-text);
    }

    @media (min-width: 992px) {
      .sidebar-searchbar {
        display: flex;
      }
    }

    .sidebar-searchbar > i {
      padding-left: var(--gutter);
    }

    .sidebar-searchbar > input {
      width: 100%;
      height: 100%;
      border: none;
      margin-left: 5px;
    }

    /* SIDEBAR CONTACTS */

      /* CONTACT ITEM */

      .contact-item {
        border-bottom: 1px solid #F5F5F5;
      }

        /* CONTACT AVATAR */

      /* CONTACT INFO */
      
      .contact-info {
        display: none;
        position: relative;
        justify-content: center;
      }

      @media (min-width: 992px) {
        .contact-info {
          display: flex;
        }
      }

        .contact-time {
          position: absolute;
          top: 20px;
          right: 5px;
        }

/* APP CONTENT */

  .app-content {
    height: 100%;
  }

  @media (min-width: 768px) {
    .app-content {
      max-width: calc(100% - 80px);
    }
  }

  @media (min-width: 992px) {
    .app-content {
      max-width: calc(100% - 380px);
    }
  }

    /* HEADER */

    .content-header {
      height: 70px;
      background-color: var(--header-color);
    }

    /* BODY */

    /* FOOTER */

    .content-footer {
      height: 70px;
      background-color: var(--footer-color);
    }